{
  home.username = "traxys";
  home.homeDirectory = "/home/traxys";

  extraInfo.email = "some@email";

  extraInfo.inputs = {
    keyboard = "1:1:AT_Translated_Set_2_keyboard";
    touchpad = "2:7:SynPS/2_Synaptics_TouchPad";
  };
}
