/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Chalk scheme by Chris Kempson (http://chriskempson.com) */

window {
	background-color: #151515;
	color: #d0d0d0;
}

#entry:nth-child(odd) {
	background-color: #151515;
}

#entry:nth-child(even) {
	background-color: #202020;
}

#entry:selected {
	background-color: #303030;
}

#input {
	background-color: #202020;
	color: #b0b0b0;
	border-color: #303030; 
}

#input:focus {
	border-color: #ddb26f; 
}
